header {
    background: white;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding: 15px 0;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 12px;
                margin-right: 2.5rem;
                list-style: none;

                a{
                    color: black;
                    text-decoration: none;
                }


                .logo {
                    height: 60px;
                    width: 50px;
                    object-fit: cover;
                }

                .search-icon {
                    height: 20px;
                    width: 20px;
                    stroke-width: 3px;
                }

            }

            :last-child {
                margin: 0;
            }

        }
    }
}
